fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic-settings
python-jose[cryptography]
passlib
email-validator
python-multipart
pytesseract
Pillow
opencv-python-headless
numpy
scipy
google-generativeai
httpx
